/* icon fitness css  Oct. 7, 2020*/

/* overlay */
.overlay img{
  position: absolute;
  z-index: 99;
  opacity: 0.2;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}
ul {
  margin-left: -1vw;
  list-style-image: url('../imgs/products/arrows.png');
}
/* nav */
a,a:hover,a:active {
  text-decoration: none;
}
.prod-logo{
  position: absolute;
  top: 3.7vh;
  left: 45vw;
}
.prod-logo img{
  width: 10vw;
}
.prod-nav{
  background: #000000;
  height: 13vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: #FEE123 1.4vh solid;
  overflow: hidden;
}
.prod-home{
  height: 13.1vh;
  width: 13.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-home img {
  height: 5vh;
  width: 5vh;
}

.prod-nav-arrow1 {
  position: absolute;
  top: 0;
  left: 6.4vw;
  height: 13.1vh;
}

.prod-nav-arrow2 {
  position: absolute;
  top: 0;
  left: 21vw;
  height: 13.1vh;
}

.prod-treadmills{
  position: relative;
  width: 22.5vw;
  line-height: 2vw;
}
.prod-treadmills img{
  position: absolute;
  z-index: 0;
  height: 13vh;
}
.prod-txtTreadmills{
  position: absolute;
  top: 5.2vh;
  left: -3vw;

  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.5vw;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  text-align: center;
}
/* content */
.prod-content{
  height: 86vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg, #ffffff, #ffffff, #e6e6e6, #d9d9d9);
}
.prod-mainWrap{
  /* background: plum; */
  height: 82vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
}
/* image showcase */
.prod-imgShowcase{
  background: #ffffff;
  border: solid 1px #EAEAEA;
  height: 67.3vh;
  width: 61.5vh;
  position: relative;
  top: 2vh;
  left: 1.8vw;
  box-shadow: 0vh 1.8vh 1.4vw rgba(0,0,0,0.35);
  overflow: hidden;
}
.prod-slideWrap{
  width: 100%;
}
.prod-slide img{
  height: 67.3vh;
  width:100%;
  object-fit: contain;
}
.prod-btnPrev,.prod-btnNext{
  position: absolute;
  bottom: -3.2px;
  display: none;
}
.prod-btnPrev{
  left: 0;
}
.prod-btnNext{
  right: 0;
}
/* context */
.prod-contextWrap{
  position: relative;
  top: 1.5vh;
  left: 6vw;
  padding-left: 1vw;
  height: 80vh;
  width: 53.3vw;
}
/* title */
.prod-name{
  font-family: "Roboto-Black-Italic", sans-serif;
  font-size: 3.5vw;
  letter-spacing: 0.07vw;
  text-transform: uppercase;
  padding-bottom: 2vh;
}
.prod-modelName{
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.07vw;
  text-transform: uppercase;
  padding-bottom: 1vh;
}
/* price */
.prod-priceWrap{
  position: relative;
  background: #F1F1F1;
  height: 10vh;
  width: 27.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 94% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0 100%);
}
.prod-price{
  position: relative;
  left: 1.7vw;
  letter-spacing: 0.08vw;
  font-family: 'Roboto-Black', sans-serif;
  color: #000000;
  font-size: 1.7vw;
  font-weight: 800;
}
.prod-priceHasPromo{
  position: absolute;
  right: 6.4vw;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.08vw;
  font-family: 'Roboto-Black', sans-serif;
  color: #DE0C00;
  font-size: 1.7vw;
  font-weight: 800;
}
.prod-promoLabel{
  position: absolute;
  top: 16.5vh;
  left: 23vw;
  background: #DE0C00;
  height: 4.4vh;
  width: 7.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Black-Italic", sans-serif;
  font-size: 1.3vw;
  letter-spacing: 0.05vw;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
  clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
}
/* context layers */
.prod-context{
  font-family: "Roboto-Regular", sans-serif;
  position: relative;
  top: 0vh;
  left: -0.5vw;
  height: 56.8vh;
  width: 53.5vw;
  display: flex;
  flex-direction: row;
}
.prod-context-desc{
  flex-basis: 32vw;
  opacity: 0.7;
  font-size: 1.33vw;
  letter-spacing: 0.01vw;
  padding-right: 1vw;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}
.prod-context-desc::-webkit-scrollbar { 
  display: none;  
}
.prod-context-desc h3, .prod-context-feat h3{
  font-family: Roboto-Black;
  text-transform: capitalize;
}
.prod-context-feat{
  opacity: 0.7;
  flex-basis: 25vw;
  font-size: 1.33vw;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.prod-context-feat li, .prod-context-desc li{
  padding-bottom: 3.45vh;
  list-style-type: none;
  padding-left: .5vw;
}
.prod-context-feat::-webkit-scrollbar { 
  display: none;  
}