html {
	all: initial;
}

/* index style */
.index-container {
	font-family: Roboto-Black-Italic;
	font-size: 2.08vw;
}

.index-yellowline {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	height: 14.3vh;

	background-color: #FEE123;
}

.index-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	height: 13.15vh;

	background-color: black;
}

.index-nav-rebel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto auto;
	width: 10vw;
}

.index-nav-logo1 {
	position: absolute;
	top: 0;
	left: 64.5vw;
	right: 0;
	bottom: 0;

	margin: auto 0;
	width: 12.2vw;
	filter: grayscale(100%);
}

.index-nav-logo2 {
	position: absolute;
	top: 0;
	left: 78.3vw;
	right: 0;
	bottom: 0;

	margin: auto 0;
	width: 4.8vw;
}

.index-nav-logo3 {
	position: absolute;
	top: 0;
	left: 84vw;
	right: 0;
	bottom: 0;

	margin: auto 0;
	width: 13vw;
}

.index-treadmills-imgs {
	position: absolute;
	top: 14.4vh;
	left: 0vw;

	/*transform: skewX(25.6deg);*/
	width: 30.7vw;
}

.index-treadmills {
	position: absolute;
	top: 13.15vh;
	left: -8vw;
	bottom: 25.2vh;

	width: 30.2vw;

	transform: skewX(-25.6deg);
	/*background: transparent linear-gradient( #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;*/
	overflow: hidden;
}

.index-ellipticals-imgs {
	position: absolute;
	top: 14.4vh;
	left: 2vw;

	transform: skewX(25.6deg);
	width: 26.6vw;
}

.index-ellipticals {
	position: absolute;
	top: 13.15vh;
	left: 23.1vw;
	bottom: 25.2vh;

	width: 26.6vw;

	transform: skewX(-25.6deg);
	background: transparent linear-gradient( #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
	overflow: hidden;
}

.index-bikes-imgs {
	position: absolute;
	top: 14.4vh;
	left: 3vw;

	transform: skewX(25.6deg);
	width: 26.6vw;
}

.index-bikes {
	position: absolute;
	top: 13.15vh;
	left: 50.5vw;
	bottom: 25.2vh;

	width: 26.6vw;

	transform: skewX(-25.6deg);
	background: transparent linear-gradient( #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
	overflow: hidden;
}

.index-rowers-imgs {
	position: absolute;
	top: 14vh;
	left: -4vw;

	transform: skewX(25.6deg);
	width: 31.6vw;
}

.index-rowers {
	position: absolute;
	top: 13.15vh;
	left: 77.8vw;
	bottom: 25.2vh;

	width: 30.5vw;

	transform: skewX(-25.6deg);
	background: transparent linear-gradient( #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
	overflow: hidden;
}

.index-accessories-imgs {
	position: absolute;
	/*top: 0vh;*/
	bottom: 0;
	right: 4vw;

	/*transform: skewX(-25.6deg);*/
	width: 15vw;
	/*width: 50vw;*/
}

.index-accessories {
	position: absolute;
	left: 0;
	right: 50vw;
	bottom: 0;

	height: 24.35vh;

	color: black;

	background: transparent linear-gradient(to right, #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
	overflow: hidden;
}

.index-strength-imgs {
	position: absolute;
	bottom: 0;
	right: 0;

	width:49.8vw;
}

.index-strength {
	position: absolute;
	left: 50.8vw;
	right: 0;
	bottom: 0;

	height: 24.35vh;

	color: black;

	/*background: transparent linear-gradient(to right, #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;*/
	overflow: hidden;
}

.index-imgs {
	position: absolute;
	bottom: 0;
	right: -1vw;

	height: 50vh;
	object-fit: contain;
	transform: skewX(25.6deg);
}

.index-accessories .index-imgs {
	transform: skewX(0);
}

.index-strength .index-imgs {
	transform: skewX(0);
}

.index-rowers .index-imgs {
	left: -2vw;
}

.index-accessories .index-imgs, .index-strength .index-imgs{
	height: 30vh;
	right: 3vw;
	top: 0;
	margin: auto 0;
}

.index-treadmills-text {
	position: absolute;
	top: 19.5vh;
	left: 6.2vw;
}

.index-ellipticals-text {
	position: absolute;
	top: 19.5vh;
	left: 35.2vw;
}

.index-bikes-text {
	position: absolute;
	top: 19.5vh;
	left: 60.7vw;
}

.index-rowers-text {
	position: absolute;
	top: 19.5vh;
	left: 87.2vw;
}

.index-accessories-text {
	position: relative;
	top: 10.15vh;
	left: 6.8vw;
}

.index-strength-text {
	position: relative;
	top: 10.15vh;
	left: 7.5vw;
}

.arrow-black {
	width: 2vw;

	position: absolute;
	top: 0.3vh;
	right: -2.8vw;
}

/* List */

.list-container {
	font-family: Roboto-Black-Italic;
	font-size: 2.08vw;
}

.list-yellowline {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	height: 14.3vh;

	background-color: #FEE123;
}

.list-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	height: 13.1vh;

	background-color: black;

	overflow: hidden;
}

.list-nav-home {
	position: absolute;
	top: 0;
	left: 0;
	
	height: 13.1vh;
	width: 13.1vh;
}

.list-nav-home img {
	height: 5vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
}

.list-nav-arrow {
	position: absolute;
	top: 0;
	left: 6.4vw;
	height: 13.1vh;
}

.list-content-background {
	position: absolute;
	top: 25vh;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent linear-gradient(180deg, #E6E6E600 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
}

.list-headline {
	position: absolute;
	top: 18.5vh;
	left: 0;
	right: 0;
	text-align: center;

	font-family: Roboto-Black-Italic;
	font-size: 6.48vh;
}

.list-list {
	position: absolute;
	top: 32.3vh;
	left: 0;
	right: 0;
	bottom: 0;

	margin: 0 4.8vw;

	display: inline-flex;
}

.list-list-item {
	position: relative;
	height: 60.725vh;
	width: 19.54vw;

	background: #FFFFFF;
	box-shadow: 0px 20px 20px #00000029;
	border: 1px solid #D6D6D6;

	overflow: hidden;
	margin: 0 1.5vw;
}

.list-item-image {
	width: 100%;
	height: 15.6vw;
	object-fit: contain;
}

.list-item-model {
	font-family: Roboto-Black;
	font-size: 3.14vh;
	/*text-transform: uppercase;*/

	height: 8.5vh;

	margin: 0.5vh 1.6vw;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-item-brand {
	font-family: Roboto-Bold-Italic;
	font-size: 2.77vh;

	margin: 0.5vh 2vw;
}

.list-item-price-background {
	position: absolute;
	top: 32vh;
	left: -2.1vw;
	width: 19.5vw;
	height: 6.8vh;

	margin-top: 5.5vh;

	transform: skewX(-17deg);
	background-color: #EDEDED;
}

.strike {
	font-family: Roboto-Regular;
	text-decoration: line-through;
}

.list-item-price {
	position: absolute;
	top: 39.6vh;
	left: -2.3vw;
	font-family: Roboto-Bold;
	font-size: 2.13vh;

	margin-left: 4.5vw;
}

.list-item-price-promo {
	position: absolute;
	top: 0vh;
	left: 5.3vw;

	font-family: Roboto-Black;
	color: #DE0000;

	margin-left: 0.8vw;
}

.promo-figure {
	line-height: 2.3vh;
	text-align:center;

	position: absolute;
	top: -0.15vh;
	left: 6.3vw;

	width: 3.9vw;
	height: 2.55vh;

	background-color: #DE0000;

	transform: skew(-18deg);
	z-index: 1;
}

.promo-text {
	display: inline-block;
	font-family: Roboto-Regular-Italic;
	font-size: 1.3vh;
	/*font-weight: 900;*/
	color: white;

	text-align: center;

	/*margin-left: 3.5vw;*/
	transform: skew(18deg);
}

.list-item-description {
	position: absolute;
	top: 47vh;

	font-family: Roboto-Regular;
	font-size: 1.94vh;

	height: 12vh;

	margin: -0.5vh 1.5vw;
	line-height: 2.78vh;

	/*
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.list-prev {
	position: fixed;
	top: 58.7vh;
	left: 0;
	width: 4.65vw;

	z-index: 1;
}
.list-prev:hover {cursor: pointer;}

.list-prev img {
	width: 100%	
}

.list-next {
	position: fixed;
	top: 58.7vh;
	right: 0;
	width: 4.65vw;

	z-index: 1;
}

.list-next:hover {cursor: pointer;}

.list-next img {
	width: 100%	
}


/* Slick */
.slick-slide {
	padding: 0;
	margin: 0;
}