/* icon fitness css  Oct. 7, 2020*/

body {
	font-family: Roboto-Regular;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { 
    display: none;  
}

a {
  text-decoration: none;
  color: black;
}

/* Fonts */
@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Regular-Italic;
  src: url('../fonts/Roboto-Italic.ttf');
}


@font-face {
  font-family: Roboto-Black;
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: Roboto-Black;
  src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
  font-family: Roboto-Black-Italic;
  src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Bold-Italic;
  src: url('../fonts/Roboto-BoldItalic.ttf');
}